/* GENERAL */
body {
    font-family: Quicksand;
    position: relative;
    overflow: auto;
    margin: 0;
    color: black;
    background-color: white;
    height: 100%;
}

section {
    min-height: 100%;
    display: block;
}

#home {
    height: 100%;
}

.container {
    text-align: center;
    display: block;
}

html {
    height: 100%;
}

/* TYPOGRAPHY */

p {
    display: block;
    color: black;
}

/* NAVIGATION MENU */

.menubg {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: black;
    opacity: 1;
    overflow-x: hidden;
    transition: 0.5s;
}

.menu {
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.menubg a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: inline-block;
    transition: 0.3s;
}

.menubg a:hover {
    text-decoration: overline;
}

.button {
    top: 50%;
    left: -7%;
    position: fixed;
    padding: 7%;
    border-radius: 50%;
    border: 3px white;
    border-style: dotted solid;
    color: white;
    background-color: black;
    z-index: 99;
    display: block;
    animation: backspin 1s ease;
}

.button i {
    color: white;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.button:hover {
    border: 3px black;
    border-style: dotted solid;
    background-color: white;
    transition: 0.5s ease;
    animation: spin 1s ease;
}

.button1 {
    top: 50%;
    left: -7%;
    position: fixed;
    padding: 7%;
    border-radius: 50%;
    border: none;
    color: black;
    border: 3px black;
    border-style: dotted solid;
    background-color: white;
    z-index: 99;
    display: none;
    animation: backspin 1s ease;
}

.button1 i {
    color: black;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.button1:hover {
    background-color: black;
    transition: 0.5s ease;
    animation: spin 1s ease;
    border: 3px white;
    border-style: dotted solid;
}

@media screen and (max-height: 450px) {
    .menubg a {font-size: 20px}
    .menubg {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/* The hero image */
.hero-image {
    background-color: transparent;
    border: 10px solid black;
    height: 90%;
    width: 90%;
    opacity: 1;
    margin-top: 2.5%;
    margin-left: 5%;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    font-family: Quicksand;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.hero-text h1 {
    font-family: 'Playfair Display', serif;
    color: black;
    font-weight: bold;
    text-decoration: overline;
}

.hero-text a {
    text-decoration: none;
    color: black;
}

/* Section title text */
.title {
    position: relative;
    font-family: 'Playfair Display', serif;
    text-decoration: bold;
    text-align: center;
    margin-top: 4%;
    color: black;
    width: 100%;
}

.work {
    margin-bottom: 3%;
}

/* Contact */

form {
    text-align: center;
}

input[type=text], select, textarea {
    width: 60%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    margin-left: 46.5%;
    display: block;
    background-color: grey;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* Portfolio images - hover */

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: black;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity: 0;
}

.portfolio:hover .overlay {
    opacity: .8;
}

.portfolio {
    position: relative;
}

.portfolio img {
    filter: grayscale(100%);
    display: block;
    width: 100%;
    height: auto;
    min-width: 300px;
    height: 250px;
    opacity: 1;
}

.text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* Parallax */
.parallax1, .parallax2 {
    display: block;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax1 {
    background-image: url("images/do.jpg");
    min-height: 160px;
    overflow: hidden;
}

.parallax2 {
    background-image: url("images/side.jpg");
    min-height: 300px;
}

/* Arrow Button */

.down {
    position: absolute;
    left: 49.5%;
    bottom: 1%;
    display: block;
    text-align: center;
}

.arrow {
    font-size: 36px;
}

.fa {
    color: black;
}

/* Animations */

    /* arrow */
.down a {
    position: relative;
    color: #fff;
    text-decoration: none;
    animation: fall 1.2s linear 0s infinite running;
}

    /* about me */
.fadein {
    animation: fadein 2s;
}

.fadeinslow {
    animation: fadein 3s;
}

.fadeup {
    animation: fadeup 2s;
}

.fadedown {
    animation: fadedown 2s;
}

.fadeleft {
    animation: fadeleft 2s;
}

.faderight {
    animation: faderight 2s;
}

.type {
    animation: type 3s;
}

.spin {
    animation: spin 1s;
}

.backspin {
    animation: backspin 1s;
}

.expand {
    animation: expand 2s;
}

/* keyframes */

@keyframes fall {
    0% {
        top: -10px;
        opacity: 0;
    }

    30% {
        top: 0px;
        opacity: 1;
    }

    100% {
        top: 15px;
        opacity: 0;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeup {
    0% {
        opacity: 0;
        transform: translate(0, 100%);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadedown {
    0% {
        opacity: 0;
        transform: translate(0, -100%);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeleft {
    0% {
        opacity: 0;
        transform: translate(100%, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes faderight {
    0% {
        opacity: 0;
        transform: translate(-100%, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes backspin {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes expand {
    0% {
        height: 0;
        opacity: 0;
    }
    100% {
        height: 90%;
        opacity: 1;
    }
}