/* FONTS */
@font-face {
    font-family: "Proxima Nova Light";
    src: url("assets/ProximaNova/Proxima Nova Light.otf") format("opentype");
}

@font-face {
    font-family: "Proxima Nova Bold";
    src: url("assets/ProximaNova/Proxima Nova Sbold.otf") format("opentype");
}

/* SECTIONS */
#home {
    display: block;
}

#about, #portfolio, #contact, #cmlh, #todo, #pillow, #meal {
    display: none;
}

/* GENERAL */
body {
    font-family: 'Proxima Nova Light', sans-serif;
    position: relative;
    overflow: auto;
    margin: 0;
    color: dimgrey;
    background-color: #fff;
    height: 100%;
    overflow-x: hidden;
}

.hero-image {
    background-image: url("images/mehome.JPG");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

section {
    margin-left: 200px;
    min-height: 100%;
    min-width: calc(100% - 200px);
    display: block;
}

.container {
    position: relative;
    display: block;
    top: 100px;
    left: 0px;
}

.col-sm-3 {
    margin-bottom: 25px
}

.homerow {
    top: 0px;
}

/* TYPOGRAPHY */

h3 {
    font-family: Futura;
    color: #EB8888;
    font-weight: bolder;
    margin-bottom: 20%;
}

h2 {
    font-family: Futura;
    font-weight: bold;
    color: #EB8888;
}

.title {
    position: relative;
    text-align: left;
    top: 50px;
    left: 15px;
    color: black;
    width: 100%;
    font-size: 30px;
    display: block;
}

.title a {
    font-size: 18px;
}

p {
    font-size: 16px;
}

p b {
    font-family: 'Proxima Nova Bold';
    color: #EB8888;
}

.icon {
    font-size: 25px;
    display: inline-block;
    margin-right: 5px;
}

.icon a {
    color: dimgrey;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: dimgrey;
}

/* NAVIGATION MENU */

.side {
    min-height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
}

.menu {
    position: absolute;
    top: 40%;
    left: 30px;
    width: 100%;
}

.side a {
    line-height: 32px;
    text-decoration: none;
    font-size: 13px;
    color: dimgrey;
    display: block;
}

/* Images */

.me {
    width: 100%;
    margin-bottom: 50px;
}

.homeimg {
    width: 100%;
}

/* Portfolio images - hover */

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: black;
    overflow: hidden;
    width: 20px
    height: 100%;
    transition: .5s ease;
    opacity: 0;
}

.portfolio:hover .overlay {
    opacity: .8;
}

.portfolio {
    position: relative;
}

.portfolio img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 350px;
    max-height: 250px;
    opacity: 1;
}

.text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    display; block;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.text:hover {
    color: white;
}

/* Animations */

.fadein {
    animation: fadein 2s;
}

.fadeinslow {
    animation: fadein 3s;
}

.fadeup {
    animation: fadeup 2s;
}

.fadedown {
    animation: fadedown 2s;
}

.fadeleft {
    animation: fadeleft 2s;
}

.faderight {
    animation: faderight 2s;
}

.type {
    animation: type 3s;
}

.spin {
    animation: spin 1s;
}

.backspin {
    animation: backspin 1s;
}

.expand {
    animation: expand 2s;
}

/* keyframes */

@keyframes fall {
    0% {
        top: -10px;
        opacity: 0;
    }

    30% {
        top: 0px;
        opacity: 1;
    }

    100% {
        top: 15px;
        opacity: 0;
    }
}

@keyframes rise {
    0% {
        top: -10px;
        opacity: 0;
    }

    30% {
        top: 0px;
        opacity: 1;
    }

    100% {
        top: 15px;
        opacity: 0;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeup {
    0% {
        opacity: 0;
        transform: translate(0, 100%);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadedown {
    0% {
        opacity: 0;
        transform: translate(0, -100%);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeleft {
    0% {
        opacity: 0;
        transform: translate(100%, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes faderight {
    0% {
        opacity: 0;
        transform: translate(-100%, 0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes backspin {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes expand {
    0% {
        height: 0;
        opacity: 0;
    }
    100% {
        height: 90%;
        opacity: 1;
    }
}

/* Don't run animations on mobile (iPhone 6,7,8) */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .wow {
      visibility: visible !important;
      -webkit-animation: none !important;
         -moz-animation: none !important;
           -o-animation: none !important;
          -ms-animation: none !important;
              animation: none !important;
    }
}