/* FONTS */
@font-face {
    font-family: "Proxima Nova Light";
    src: url("assets/ProximaNova/Proxima Nova Light.otf") format("opentype");
}

@font-face {
    font-family: "Proxima Nova Bold";
    src: url("assets/ProximaNova/Proxima Nova Bold.otf") format("opentype");
}

@font-face {
    font-family: "Proxima Nova XBold";
    src: url("assets/ProximaNova/Proxima Nova Xbold.otf") format("opentype");
}

@font-face {
    font-family: "Playlist Script";
    src: url("assets/Playlist Script.otf") format("opentype");
}

/* GENERAL */
body {
    font-family: 'Proxima Nova Light', sans-serif;
    margin: 0;
    color: dimgrey;
    height: 100%;
}

.shiftdown {
    margin-top: 10%
}

.col-md-4 {
    margin-bottom: 30px;
}

/* TYPOGRAPHY */

a {
    text-decoration: none;
    color: #353535;
}

a:hover {
    text-decoration: underline;
}

h2 {
    text-align: center;
}

h2.title {
    font-family: 'Proxima Nova XBold';
    margin-bottom: 5%;
    text-decoration: underline;
}

b {
    color: #eb8888;
}

/* NAVBAR */

.nav>li>a:focus, .nav>li>a:hover {
    color: #eb8888;
    text-decoration: underline;
    background-color: transparent !important;
}

.navbar-brand {
    font-size: 32px;
    font-family: 'Playlist Script';
}

.navbar-brand:hover {
    color: #eb8888;
}

/* HOME */

#home {
    min-height: 100%;
    display: block;
    margin-left: 10%;
    margin-right: 10%;


}

.doodle {
    margin: auto;
    margin-top: 3%;
    width: 490px;
    display: block;
}

.doodle:hover {
    -webkit-animation: swing 2s;
    animation: swing 2s;
}

.pics {
    display: block;
    margin: auto;
}

#name {
    font-family: 'Proxima Nova Bold';
    display: inline-block;
}

/* ABOUT */
#me {
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
    display: block;
}

.icon {
    width: 50px;
    display: inline-block;
    margin: auto;
}

/* PORTFOLIO */
